<!--
  This template loads for the 'about_us' state (app.js)
-->
<ion-view view-title="Infomacion Sobre Nosotros">
  <ion-content class="stable-bg">
    <div class="padding">

      <h2 class="dark">Pizza Color Delivery</h2>
      <span class="dark">{{contac.dcon_direccion}} , Puerto Iguazu-Misiones</span>

      <h3>Sobre Nosotros</h3>

      <p>Algun Texto</p>

      <h3>Horario de Atencion</h3>

      <div class="list list-inset">
        <label class="item item-input item-stacked-label" ng-repeat="day in days">
          <span class="input-label">{{dias[day.dh_diaSemana]}}</span>
          <span class="data">{{day.dh_horaApertura}} - {{day.dh_horaCierre}}</span>
        </label>
      </div>

      <h3>Comunicate con Nosotros</h3>

      <div class="list card">
          <a ng-repeat="item in tel" href="tel:{{item.tcon_numero}}" class="item item-icon-left">
          <i ng-if="item.tcon_tipo == 2" class="icon ion-ios-telephone"></i> 
           <i ng-if="item.tcon_tipo == 1" class="icon ion-social-whatsapp"></i>   
           {{item.tcon_numero}}
        </a>
          
        <ion-icon name="logo-whatsapp"></ion-icon>
          
        <a class="item item-icon-left">
          <i class="icon ion-email"></i>Email: {{ contac.dcon_email}}</a>
        <a class="item item-icon-left"  ui-sref="address">
          <i class="icon ion-map"></i>Direccion : {{contac.dcon_direccion}} </a>
      </div>

      <h4>Nuestras Redes Sociales</h4>
      
      <div class="list card">
        <a class="item item-icon-left" ng-click="openFacebookPage()" >
          <i class="icon ion-social-facebook"></i>  Facebook
        </a>
        <a class="item item-icon-left" ng-click="openTwitterPage()" >
          <i class="icon ion-social-twitter"></i> Twitter
        </a>
        <a class="item item-icon-left" ng-click="openPage()" ><i class="icon ion-social-pinterest"></i> Pagina Web
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
