<!--
  This template loads for the 'about_us' state (app.js)
-->
<ion-view view-title="About us">
  <ion-content class="stable-bg">
    <div class="padding">

      <h2 class="dark">Pizza Color Delivery</h2>
      <span class="dark">{{contac.dcon_direccion}} , Puerto Iguazu-Misiones</span>

      <h3>Sobre Nosotros</h3>

      <p>Algun Texto</p>

      <h3>Horario de Atencion</h3>

      <div class="list list-inset">
        <label class="item item-input item-stacked-label" ng-repeat="day in days">
          <span class="input-label">{{dias[day.dh_diaSemana]}}</span>
          <span class="data">{{day.dh_horaApertura}} - {{day.dh_horaCierre}}</span>
        </label>
      </div>

      <h3>Comunicate con Nosotros</h3>

      <div class="list card">
          <a ng-repeat="item in tel" href="tel:{{item.tcon_numero}}" class="item item-icon-left">
          <i ng-if="item.tcon_tipo == 2" class="icon ion-ios-telephone"></i> 
           <i ng-if="item.tcon_tipo == 1" class="icon ion-social-whatsapp"></i>   
           {{item.tcon_numero}}
        </a>
          
        <ion-icon name="logo-whatsapp"></ion-icon>
          
        <a class="item item-icon-left">
          <i class="icon ion-email"></i>Email: {{ contac.dcon_email}}</a>
        <a href="#" class="item item-icon-left">
          <i class="icon ion-map"></i>Direccion : {{contac.dcon_direccion}} </a>
      </div>

      <h4>Get social with us</h4>
      
      <div class="list card">
        <a class="item item-icon-left">
          <i class="icon ion-social-facebook" href="{{contac.dcon_facebook}}"></i> {{contac.dcon_facebook}}
        </a>
        <a class="item item-icon-left">
          <i class="icon ion-social-twitter" href="{{contac.dcon_twitter}}"></i> {{contac.dcon_twitter}}
        </a>
        <a class="item item-icon-left" href="{{contac.dcon_website }}"><i class="icon ion-social-pinterest"></i> {{contac.dcon_website }}
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
