<!--
  This template loads for the 'checkout' state (app.js)
-->
<ion-view view-title="Ubicacion" class="has-footer-buttons" ng-init="init()">


    <ion-content class="stable-bg checkout-page">
        <div id="map" data-tap-disabled="true"></div>

    </ion-content>
    <ion-footer-bar class="bar-balanced">
<!-- proximamente
        <button class="button button-block button-positive"  ng-click="openMaps()" >
           Como Llegar
        </button>
-->
       
    </ion-footer-bar>
</ion-view>
