<!--
  This template loads for the 'cart' state (app.js)
  cart is a $scope variable on CartCtrl (controllers.js)
  The CartCtrl pulls data from Cart service (service.js)
  The Cart service returns array of items data
-->
<ion-view cache-view="false" view-title="Mi Pedido">

    <ion-content class="stable-bg">
        <div ng-if="!vacio" class="title">
            <div class="item item-divider">
                <span>Pizza Color Delivery</span>  <span class="pull-right">Total: ${{total}}</span>
                <p>Pedido Minimo $ {{parametros.par_pedidoMinimo}}</p> 
                <p>Tiempo de Entrega: {{parametros.par_tiempoEntrega}} min Aprox</p>
            </div>
            <div class="list list-inset">
                <ion-item ng-repeat="item in cart" class="item-button-right">
                    <h3>{{ item.productoP.nombre}}({{ item.productoP.nombreVariedad}})</h3>
                    <p>{{ item.productoP.descripcion}}</p>
                    <h4 class="price pull-left assertive">
                        ${{ item.productoP.precioBase}}
                        <span class="dark">x {{ item.cantidad}}</span>
                    </h4>
                    <button class="button button-assertive" ng-click="removeProd($index)">
                        <i class="icon ion-trash-a"></i>
                    </button>
                </ion-item>
                <ion-item ng-repeat="item in promos" class="item-button-right">
                    <h3>{{ item.nombre}}</h3>
                    <p>{{ item.detallePp}}</p>
                    <h4 class="price pull-left assertive">
                        ${{ item.precioUnitario}}
                        <span class="dark">x {{ item.cantidad}}</span>
                    </h4>
                    <button class="button button-assertive"  ng-click="removePro($index)">
                        <i class="icon ion-trash-a" ></i>
                    </button>
                </ion-item>
                <ion-item  ng-if="llevaAderezo" ng-click="selAderezos(item)">
                    <strong>Añadir Aderezos al Pedido</strong>
                    <br>      
                    <ion-input  type="text" ng-value="item.aderezos"> {{item.aderezos}}</ion-input>
                </ion-item>
                <ion-item  ng-click="addAclaracion(item)">
                    <strong>Añadir Cometario al Pedido</strong>
                    <br>      
                    <ion-input  type="text" ng-value="item.aclaracion"> {{item.aclaracion}}</ion-input>
                </ion-item>

            </div> 

            <button class="button button-block button-positive"  ui-sref="home">
                Agregar mas Comida
            </button>
        </div>
        <div ng-if="vacio" class="title">
            Aun no a pedido!
            <button class="button button-block button-positive"  ng-click="pedirComida()">
                Pedir  Comida
            </button>
        </div>
    </ion-content>

    <ion-footer-bar  class="bar-assertive">
        <div ng-if="!vacio" class="button-bar" ng-click="checkOut()">
            <div class="button" >Relizar Pedido </div>

            <div class="button text-2x">
                 Total : ${{total}}
            </div>
        </div>
    </ion-footer-bar>



</ion-view>
