<!--
  This template loads for the 'cart' state (app.js)
  cart is a $scope variable on CartCtrl (controllers.js)
  The CartCtrl pulls data from Cart service (service.js)
  The Cart service returns array of items data
-->
<ion-view cache-view="false" view-title="Cart">

    <ion-content class="stable-bg">

        <ion-list>

            <ion-item class="card" ng-repeat="item in cart" >
                <h2>{{ item.productoP.nombre}}({{ item.productoP.nombreVariedad}})</h2>
                <p>{{ item.productoP.descripcion}}</p>
                <h4 class="price pull-left assertive">
                    ${{ item.productoP.precioBase}}
                    <span class="dark">x {{ item.cantidad}}</span>
                </h4>
                <ion-option-button class="stable-bg" ng-click="remove($index)">
                    <i class="icon ion-trash-a padding"></i>
                </ion-option-button>
            </ion-item>

            <ion-item class="card" ng-repeat="item in promos" >
                <h2>{{ item.nombre}}</h2>
                <p>{{ item.detallePp}}</p>
                <h4 class="price pull-left assertive">
                    ${{ item.precioUnitario}}
                    <span class="dark">x {{ item.cantidad}}</span>
                </h4>
                <ion-option-button class="stable-bg" ng-click="remove($index)">
                    <i class="icon ion-trash-a padding"></i>
                </ion-option-button>
            </ion-item>


        </ion-list>

    </ion-content>

    <ion-footer-bar class="bar-assertive">
        <div class="button" ui-sref="checkout">BUY</div>
        <div class="title"></div>
        <div class="button text-2x">
            ${{total}}
        </div>
    </ion-footer-bar>
</ion-view>
