<!--
  This template loads for the 'categories' state (app.js)
  categories is a $scope variable on CategoriesController (controllers.js)
  The CategoriesController pulls data from Categories service (service.js)
  The Categories service returns array  of categories data
-->
<ion-view view-title="Categories">

  <ion-content class="stable-bg">
    <div class="list no-padding">
      <div class="item item-menu" ng-repeat="category in categories" ui-sref="category({id: category.cat_id})">

        <img ng-src="{{ category.slider }}" alt="{{ category.cat_nombre }}"/>

        <div class="overlay">

          <span class="pull-left light">
            {{ category.cat_nombre }}
          </span>

          <span class="pull-right light">
            {{ category.items.length }}
          </span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
