<!--
  This template loads for the 'category' state (app.js)
  Show list of menu
  category is a $scope variable on CategoryCtrl (controllers.js)
  The CategoryCtrl pulls data from Categories service (service.js)
  The Categories service returns array of items data
-->
<ion-view view-title="{{ category.cat_nombre }}">

  <ion-content class="stable-bg">

    <div class="list no-padding">
      <div class="item item-menu" ng-repeat="item in products" ui-sref="item({id: item.prod_id})">

        <img ng-src="{{ item.slider }}" alt="img/default.jpg"/>

        <div class="overlay">

          <span class="pull-left light">
            {{ item.prod_nombre }}
           <p>{{item.prod_descripcionProducto}}</p>
          </span>

          <span class="pull-right light">
            ${{ item.prod_precioBase }}
          </span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
