<!--
  This template loads for the 'checkout' state (app.js)
-->
<ion-view view-title="Checkout">

    <ion-content class="stable-bg checkout-page">

        <!-- Payment method -->
        <div class="padding-left padding-top">Forma de Pago</div>

        <div class="list card"  ng-repeat="item in payments">

            <ion-radio name="pay_group" ng-value="item.name" ng-model="$parent.pay_choice">
                {{item.name}}

            </ion-radio>

        </div>

        <!-- Shipping address-->
        <div class="padding-left padding-right">
            Direcciones de Envio

            <a class="pull-right" ui-sref="address">
                <i class="ion-edit"></i>
            </a>
        </div>
        <ion-list ng-repeat="item in addresses" >
            <ion-radio name="addr_group" ng-value="item.dir_id" ng-model="$parent.address_choice">
                <a class="icon icon-right ion-ios-location"></a>
                <span> {{item.dir_nombre}} : {{item.dir_direccion}} </span>         
                <span>Tel: {{item.dir_telefonoFijo}}</span>
            </ion-radio>
            
        </ion-list>
        
        <button class="button button-block button-positive"  ng-click="openModal()">
            Agregar una Direccion
        </button>
    </ion-content>

    <ion-footer-bar class="bar-assertive">
        <div class="button" ui-sref="home">Realizar Pedido</div>
        <div class="title"></div>
        <div class="button text-2x">
          $ {{total}}
        </div>
    </ion-footer-bar>
</ion-view>
