<!--
  This template loads for the 'home' state (app.js)
  Show list of menu
  categories is a $scope variable on HomeCtrl (controllers.js)
  The HomeCtrl pulls data from Categories service (service.js)
  The Categories service returns array  of categories data
-->
<ion-view view-title="Men&uacute">

    <ion-content class="stable-bg">
        <!-- ng-if="open"  -->
        <div class="title">
            <br>

            <ion-slide-box auto-play="true">
                <ion-slide ng-repeat="item in promos" ng-init="updateSlider()" class="image-slide">
                    <img class="full-image" ng-src="{{ item.slider}}" ui-sref="itemoffer({id: item.pro_id})" alt="" />

                </ion-slide>
            </ion-slide-box>
            <br>
            <ion-slide-box auto-play="true">
                <ion-slide ng-repeat="item in publicidad" ng-init="updateSlider()" class="image-slide">
                    <img class="full-image" ng-src="{{ item.slider}}" alt="" />

                </ion-slide>
            </ion-slide-box>

            <br>
            <div class="list no-padding">
                <div class="item item-menu" ng-repeat="category in categories" ui-sref="category({id: category.cat_id})">

                    <img ng-src="{{ category.slider}}" alt="{{ category.cat_nombre}}" />

                    <div class="overlay">

                        <span class="pull-left light">
                            {{ category.cat_nombre}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div ng-if="!open" class="title">
            <h2> {{message}} </h2>
        </div> -->
    </ion-content>
</ion-view>