<!--
  This template loads for the 'item' state (app.js)
  item is a $scope variable on ItemCtrl (controllers.js)
  The ItemCtrl pulls data from Items service (service.js)
  The Items service returns array of items data
-->
<ion-view view-title="{{ item.producto.prod_nombre }}">

  <ion-content>

    <!-- Item cover -->
    <div class="item-cover">
      <ion-slide-box>
        <ion-slide >
          <img class="full-image" ng-src="{{ item.producto.slider }}" alt=""/>
        </ion-slide>
      </ion-slide-box>

      <div class="overlay">
        <span class="pull-left light">
          {{ item.producto.prod_descripcionProducto }}
        </span>

        <span class="pull-right price light">
          ${{ item.producto.prod_precioBase }}
        </span>
      </div>
    </div>

    <!-- Buttons -->
    <div class="row item-button-group">
      <div class="col button button-stable" ng-click="toggleFav()">
        <i class="text-2x ion-android-star-outline" ng-hide="item.faved"></i>
        <i class="text-2x ion-android-star" ng-show="item.faved"></i>
        <span class="text-sm">ADD TO FAVORITE</span>
      </div>
      <div class="col button button-assertive" ng-click="addCart(item)">
        <i class="text-2x ion-ios-cart-outline"></i>
        <span class="text-sm">ADD TO CART</span>
      </div>
    </div>

    <ion-list>
      <ion-item  ng-if="item.componentes.length > 0" class="item-divider">
        Options
      </ion-item>
      <ion-checkbox ng-repeat="option in item.componentes" class="item-checkbox-right checkbox-assertive">{{ option.com_nombre }}</ion-checkbox>

      <ion-item ng-if="item.componentes.length > 0" class="item-divider">
        Extras
      </ion-item>
      <ion-checkbox ng-repeat="extra in item.componentes" class="item-checkbox-right checkbox-assertive">{{ extra.com_nombre }}: {{ extra.com_precio | currency}}</ion-checkbox>

      <ion-item class="item-divider">
        Sizes
      </ion-item>
      <ion-radio ng-model="item.selectedVariedad" ng-repeat="size in item.variedades" ng-value="size">{{ size.var_nombre }}: {{ size.var_precio | currency}}</ion-radio>
      <ion-item  ng-click="addAclaracion(item)">
                <strong>Añadir Aclaracion</strong>
                <br>      
                <ion-input  type="text" ng-value="item.aclaracion"> {{item.aclaracion}}</ion-input>
            </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
