<!--
  This template loads for the 'last_orders' state (app.js)
  cart is a $scope variable on CartCtrl (controllers.js)
  The CartCtrl pulls data from Cart service (service.js)
  The Cart service returns array of items data
-->
<ion-view cache-view="false" view-title="Ultimos Pedidos">

    <ion-content class="stable-bg">

      
        <div ng-repeat="item in pedidos"   >
            <div class="list  list-inset" >
                <div class="item item-divider">
                    <i class="icon ion-android-cart" ng-class="{'energized': item.pe_idEstado == 1,'positive': item.pe_idEstado==2,'balanced': item.pe_idEstado==3,'assertive': item.pe_idEstado==4}"></i>
                     # Pedido {{item.pe_id}}
                                      
                </div>
                <div class="item item-body" >

                    Estado:<span ng-class="{'energized': item.pe_idEstado == 1,'positive': item.pe_idEstado==2,'balanced': item.pe_idEstado==3,'assertive': item.pe_idEstado==4}"> 
                        {{item.descripcion}}    </span>          
                    <span style="float: right;">Total $ {{item.pe_Total}}</span>
                    <p ng-if="item.pe_idEstado==3">Repartidor: {{item.pe_nombreEmp}}   </p>

                </div>
            </div>
        </div>

    </ion-content>
</ion-view>

