<!--
  This template loads for the 'last_orders' state (app.js)
  cart is a $scope variable on CartCtrl (controllers.js)
  The CartCtrl pulls data from Cart service (service.js)
  The Cart service returns array of items data
-->
<ion-view cache-view="false" view-title="Ultimos Pedidos">
    <ion-content class="stable-bg">
        <ion-refresher on-refresh="refresh()"></ion-refresher>
        <div class="item item-divider item-icon-right">
            <i class="icon ion-arrow-down-c"></i> Arrastre para actualizar

        </div>

        <div ng-repeat="item in pedidos">
            <div class="list  list-inset">
                <div class="item item-divider">
                    <i class="icon ion-android-cart" ng-class="{'energized': item.pe_idEstado == 1,'positive': item.pe_idEstado == 2,'balanced': item.pe_idEstado == 3,'assertive': item.pe_idEstado == 4}"></i> # Pedido {{item.pe_id}}
                    <span style="float: right;"> {{formatDate(item.pe_fechaPedido)}}</span>
                </div>
                <div class="item item-body">

                    Estado:<span ng-class="{'energized': item.pe_idEstado == 1,'positive': item.pe_idEstado == 2,'balanced': item.pe_idEstado == 3,'assertive': item.pe_idEstado == 4}">
                        {{item.descripcion}} </span>
                    <span style="float: right;">Total $ {{item.pe_Total}}</span>

                    <P>
                        <span>Estado Pago:</span>
                        <span ng-if="item.pe_idEstadoPago==5" class="balanced">
                            Aceptado </span>
                        <span ng-if="item.pe_idEstadoPago==7" class="assertive">
                            Rechazado </span>
                        <span ng-if="item.pe_idEstadoPago==8" class="positive">
                            En Destino </span>
                    </P>
                    <p ng-if="item.pe_idEstado==3 ">Repartidor: {{item.pe_nombreEmp}} </p>
                    <p ng-repeat='item in item.pe_resumen.split("*") track by $index' style="margin-top: 5px;margin-bottom: 5px; ">
                        {{item}}
                    </p>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>