<ion-view view-title="Ingresar" hide-nav-bar="true" class="login-bg">
    <ion-content class="login-bg">

        <div class="login-content">

            <!-- Logo -->
            <div class="padding text-center">
                <div class="logo assertive-bg">
                    <i class="light ion-ios-home-outline"></i>
                </div>
                <h2 class="light">
                    Pizza Color Delivery
                </h2>
            </div>

            <!-- Login form -->
            <form name="loginForm" class="list " id="login-form1">
                <div class="item" style="background-color: transparent;" >
                    <label class="item item-input-inset"  style="border:none;padding: 2px;">
                        <div class="item-input-wrapper">
                            <input  style="color: #000; width: 100%;" ng-model="user.email" type="email"   placeholder="Email" required >  
                        </div>
                    </label>
                </div>
                <div class="item" style="background-color: transparent;" >
                    <label class="item item-input-inset"  style="border:none;padding: 2px;">
                        <div class="item-input-wrapper">
                            <input  style="color: #000; width: 100%;" ng-model="user.password" type="password"   placeholder="Password" required >  
                        </div>
                    </label>
                </div>
            </form>
      
            <!-- <p class="text-right light">Forgot Password?</p>-->

            <div>
                <button class="button button-block button-assertive" ng-click="login(loginForm, user)">
                    INGRESAR
                </button>
                <!--<p class="text-center light">Or</p>
                <button class="button button-block facebook-login" ui-sref="home">
                   Sign in with Facebook
               </button>
               <button class="button button-block twitter-login" ui-sref="home">
                   Sign in with Twitter
               </button>-->
            </div>



            <!-- Other links -->
            <div class="text-center">
                <a ui-sref="register" class="light" style="font-size:large" >Nuevo aqui? Registrarse</span></a>
            </div>

        </div>

    </ion-content>
</ion-view>
