<ion-view view-title="Login" hide-nav-bar="true" class="login-bg">
    <ion-content class="login-bg">

        <div class="login-content">

            <!-- Logo -->
            <div class="padding text-center">
                <div class="logo assertive-bg">
                    <i class="light ion-ios-home-outline"></i>
                </div>
                <h2 class="light">
                    Pizza Color Delivery
                </h2>
            </div>

            <!-- Login form -->
            <form name="sigupForm" class="list " id="login-form1">
                <div class="list">
                    <div class="item" style="background-color: transparent;" >
                        <label class="item item-input-inset"  style="border:none;padding: 0px;cursor: pointer;">
                            <div class="item-input-wrapper">
                                <input  style="color: #000;" ng-model="user.per_nombre" type="text"   placeholder="Nombre y Apellido" required >  
                            </div>
                        </label>
                    </div>
                    <span class="input-label light" ><b>Telefono</b></span>
                    <div class="item" style="background-color: transparent;" >
                       
                        <div class="item-input-wrapper">
                            <select ng-model="user.Pais" ng-init="user.Pais = countries[10]" placeholder="Seleccionar Pais" ng-options="country.name + country.dial_code for country in countries"></select>
                        </div>

                    </div>
                    <div class="item" style="color: transparent  ;background-color: transparent;">
                        <label class="item item-input-inset"  style="border:none;padding: 0px;cursor: pointer;">
                            <div class="item-input-wrapper">
                                <input  style="color: #000;" ng-model="user.per_prefijo" type="text"   maxlength="4" size="10" placeholder="Prefijo Local" valid-number required >  

                            </div>
                        </label>
                        <br>
                        <label class="item item-input-inset"  style="border:none;padding: 0px;cursor: pointer;">
                            <div class="item-input-wrapper">
                                <input  style="color: #000;" ng-model="user.per_celular"  type="text"   placeholder="Numero"  valid-number required >  
                            </div>
                        </label>
                    </div>
                    <br>

                    <div class="item" style="background-color: transparent;">
                        <label class="item item-input-inset"  style="border:none;padding: 0px;cursor: pointer;">
                            <div class="item-input-wrapper">
                                <input  style="color: #000;" ng-model="user.per_email" type="text"   placeholder="Email" required >  
                            </div>
                        </label>
                    </div>
                    <br>

                    <div class="item" style="background-color: transparent;">
                        <label class="item item-input-inset"  style="border:none;padding: 0px;cursor: pointer;">
                            <div class="item-input-wrapper">
                                <input  style="color: #000;" ng-model="user.per_password" type="password"   placeholder="Ingrese Password" required >  
                            </div>
                        </label>
                    </div>
                    <div class="item" style="background-color: transparent;" >
                        <label class="item item-input-inset"  style="border:none;padding: 0px;cursor: pointer;">
                            <div class="item-input-wrapper">
                                <input  style="color: #000;" ng-model="passwordValidator" type="password"   placeholder="Repita Password" required >  
                            </div>
                        </label>
                    </div>
                </div>
            </form>

            <div class="padding-top">
                <button class="button button-block button-assertive" ng-click="sigup(sigupForm, user, passwordValidator)">
                    Registrar
                </button>
            </div>


            <!-- Other links -->
            <div class="text-center">
                <a ui-sref="login" class="light" style="font-size:large"  ><span>Ya tiene Cuenta?</span></a>
            </div>

        </div>

    </ion-content>
</ion-view>

